.animation {
    animation: rotation 5s infinite;
    transform-origin:center;
    animation-timing-function: linear;
  }

@keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}