/*ANIMATION DE ROTATION**************************************/


.animation {
    animation: rotation 3s infinite;
    transform-origin:center;
    animation-timing-function: linear;
  }

@keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


/*FIN ANIMATION DE ROTATION*********************************/

/*ANIMATION DU DASH*****************************************/


.path {
    stroke-dasharray: 100;
    animation: dash 6s infinite;
    animation-timing-function: linear;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 2000;
    }
  }


/*FIN ANIMATION DU DASH*************************************/